<% layout('../layouts/mainlayout.ejs') -%>
<b>Create Note</b>
<form action="/home/CreateNote" method="POST">
    <table>
    <tr>
    <td>Title:</td><td>&nbsp;</td>
<td><input type='text' name='author'></td>
    </tr>
    <tr>
    <td>Note:</td><td>&nbsp;</td>
<td><input type='text' name='content'></td>
    </tr>
    <tr>
        <td></td><td>&nbsp;</td>
    <td><input type="submit" value="submit"></td>
        </tr>
    </table>
    </form>
