<% layout('../layouts/mainlayout.ejs') -%>

<h1>Note</h1>
<table>
<tr><td>ID:</td><td><%= note.id %></td></tr>
<tr><td>Author:</td><td><%= note.author %></td></tr>
<tr><td>Title:</td><td><%= note.content %></td></tr>
</table>
