<% layout('../layouts/mainlayout.ejs') -%>

<div style="padding-left: 30px;">
<br>
<b>Title:</b>
<input type="text">
<br/><br/>
<b>Note:</b>
<input type="text" style="width: 300px; height: 100px;">
<br><br>
<input type="button" value="sumbit">
</div>