<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>
<body>

<header>
    <a href="/">Home</a> | <a href="/calander/view">View Notes</a>
</header>
<b>{{date}}</b>
<form action="/note" method="post">
    <table>
        <tr>
            <td><b>Author:</b></td>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <td><b>Content:</b></td>
            <td><input type="text" name="content"></td>
        </tr>
        <br><br>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>

</body>
</html>