{% extends "base.html" %}

{% block content %}
<style>
    .create {
          margin-left: 20px;
          margin-top: 30px;
          max-width: 550px;
          height: 350px;
          border: 1px solid #9C9C9C;
          background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
    }
</style>
<div class="create">
    <div style="padding-left: 15px; padding-top: 15px;">
    <h1>Create Note</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=64) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
        </div>
    </div>
{% endblock %}